<!DOCTYPE html>
<html>
<style>

div {
    width:100%;
    display: flex;
    float: bottom;
}
img {
    position: relative;
    display: block;
    float: left;
}

</style>
<div>
    <img src="https://s11.postimg.org/3v0jds1kz/footer_image.png" />
</div>
</html>
