<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../jquery/jquery.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="../jquery/interface.js"></script>
<!-- <script src="../src/makerbnb.js"></script> -->
<meta charset="utf-8">

<style>



</style>

<div class="navbar">
  <a href='/'><img src="https://s16.postimg.org/7x25s7vyd/logo.png"
    alt="World Wide Web Consortium Home"
    width="42" height="42" border="0" /></a>
    <% if(sess.email) { %>
      <div class="nav-buttons">
        <a href="/listings/new"><div id="nav-button">Become a host!</div></a>
        <a href="/listings"><div id="nav-button">Listings</div></a>
        <a href="/user"><div id="nav-button">My Account</div></a>
        <a href="/logout"><div id="nav-button"></div>Logout</a>
      </div>
    <% } %>
    <% if(!sess.email) { %>
      <div class="nav-buttons">
        <a href="/listings"><div id="nav-button">Listings</div></a>
        <a href="/signup"><div id="nav-button">Sign up</div></a>
        <a href="/login"><div id="nav-button">Sign in</div></a>
      </div>
    <% } %>
  </div>
</html>




<!--

<div data-role="main" class="ui-content">
  <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Login</a>

  <div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;">
    <form method="post" action="/login">
      <div>
        <h3>Sign in information</h3>
        <label for="usrnm" class="ui-hidden-accessible">Username:</label>
        <input type="text" name="email" id="usrnm" placeholder="Email">
        <label for="pswd" class="ui-hidden-accessible">Password:</label>
        <input type="password" name="password" id="pswd" placeholder="Password">
        <label for="log">Keep me logged in</label>
        <input type="checkbox" name="login" id="log" value="1" data-mini="true">
        <input type="submit" data-inline="true" value="Log in">
      </div>
    </form>
  </div>
</div>

<div data-role="main" class="ui-content">
  <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Sign up</a>

  <div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;">
    <form method="post" action="demoform.asp">
      <div>
        <h3>Sign up information</h3>
        <label for="usrnm" class="ui-hidden-accessible">Username:</label>
        <input type="text" name="user" id="usrnm" placeholder="Username">
        <label for="pswd" class="ui-hidden-accessible">Password:</label>
        <input type="password" name="passw" id="pswd" placeholder="Password">
        <label for="log">Keep me logged in</label>
        <input type="checkbox" name="login" id="log" value="1" data-mini="true">
        <input type="submit" data-inline="true" value="Log in">
      </div>
    </form>
  </div>
</div> -->
