<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800i" rel="stylesheet">


<div class="navbar">
  <a href='/'><img src="https://s16.postimg.org/7x25s7vyd/logo.png"
    alt="World Wide Web Consortium Home"
    width="42" height="42" border="0" /></a>
    <% if(sess.email === undefined) { %>
      <div class="nav-buttons">
        <form action="/listings">
          <input class="nav-button" type="submit" value="Listings" />
        </form>
        <form action="/user/new">
          <input class="nav-button" type="submit" value="Sign up" />
        </form>
        <form action="/login">
          <input class="nav-button" type="submit" value="Sign in" />
        </form>
      </div>
    <% } %>
    <% if(sess.email !== undefined) { %>
      <div class="nav-buttons">
        <form action="/listings/new">
          <input class="nav-button" type="submit" value="Become a host!" />
        </form>
        <form action="/listings">
          <input class="nav-button" type="submit" value="View listings" />
        </form>
        <form action="/user">
          <input class="nav-button" type="submit" value="My Account" />
        </form>
        <form action="/logout">
          <input class="nav-button" type="submit" value="Sign out" />
        </form>
      </div>
    <% } %>
  </div>
</html>
