<!DOCTYPE html>
<html>
<div class="logo"> <img src="https://s16.postimg.org/7x25s7vyd/logo.png" height="42" width="42"/>
<div>
  <FORM METHOD="LINK" ACTION="/logout">
  <INPUT TYPE="submit" VALUE="Logout">
  </FORM>

</html>



  
