<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../jquery/jquery.js"></script>
<script src="../jquery/interface.js"></script>
<!-- <script src="../src/makerbnb.js"></script> -->
<meta charset="utf-8">
<style>
ul #menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
<a href='/'><img src="https://s16.postimg.org/7x25s7vyd/logo.png"
  alt="World Wide Web Consortium Home"
  width="42" height="42" border="0" /></a>
  <ul id="menu">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="'/admin'">Account</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <FORM METHOD="LINK" ACTION="/logout">
  <INPUT TYPE="submit" VALUE="Logout">
  </FORM>

</html>
