<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800i" rel="stylesheet">


<div class="navbar">
  <a href='/'><img src="https://s16.postimg.org/7x25s7vyd/logo.png"
    alt="World Wide Web Consortium Home"
    width="42" height="42" border="0" /></a>
    <% if(sess.email === undefined) { %>
      <div class="nav-buttons">
        <form action="/listings">
          <input id="nav-button" type="submit" value="Listings" />
        </form>
        <form action="/user/new">
          <input id="nav-button" type="submit" value="Sign up" />
        </form>
        <form action="/login">
          <input id="nav-button" type="submit" value="Sign in" />
        </form>
      </div>
    <% } %>
    <% if(sess.email !== undefined) { %>
      <div class="nav-buttons">
        <form action="/listings/new">
          <input id="nav-button" type="submit" value="Become a host!" />
        </form>
        <form action="/listings">
          <input id="nav-button" type="submit" value="View listings" />
        </form>
        <form action="/user">
          <input id="nav-button" type="submit" value="My Account" />
        </form>
        <form action="/logout">
          <input id="nav-button" type="submit" value="Sign out" />
        </form>
      </div>
    <% } %>
  </div>
</html>

<style>

body {
  margin: 42px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;
  right: 0px;
  left: 0px;
  top: 0px;
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #c1c1c1;
  height: 42px;
  width: 100%;
}

div.nav-buttons {
  position: absolute;
  right: 0px;
  top: 0px;
}

form {
  float: right;
}

input {
  border-style: none;
}

input#nav-button {
  background-color: white;
  height: 42px;
  width: 100px;
}

input#nav-button:hover {
  background-color: #e5e5e5;
}


</style>
