<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/stylesheets/home.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/auth.js" type="text/javascript">
    </script>
  </head>

  <body>
    <% include ./partials/header.ejs %>
    <article class="main-content">
      <div class="content-left">
        <div class="inspire-text">
          <div id="colorful">
            <h1>Where will</h1>
            <h1>you be?</h1>
          </div>
          <h2>Book the holiday of a lifetime</h2>
        </div>
        <div class="homepage-buttons">
          <form action="/listings">
            <input type="submit" class="button" value="Explore properties"/>
          </form>
          <form action="/user/new">
            <input type="submit" class="button" value="Sign up"/>
          </form>
          <form action="/login">
            <input type="submit" class="button" value="Sign in"/>
          </form>
        </div>
      </div>
      <div class="content-right">
        <div class="listings-left">
          <div class="showcase-listing">
            <img class="showcase-image" height="175" width="250" src="http://www.airport-orly.com/images/paris-tour-eiffel-at-night.jpg" >
          </div>
          <div class="showcase-listing">
            <img class="showcase-image" height="175" width="250" src="http://www.fourseasons.com/content/dam/fourseasons_magazine/MOS/st-basils-christian-cathedral-moscow-russia-1600x900.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg">
          </div>
          <div class="showcase-listing">
            <img class="showcase-image" height="175" width="250" src="http://f.fwallpapers.com/images/beautiful-tokyo-japan.png">
          </div>
        </div>
        <div class="listings-right">
          <div class="showcase-listing">
            <img class="showcase-image" height="175" width="250" src="http://www.stgiles.com/wp-content/uploads/2016/02/londonA6.jpg" >
          </div>
          <div class="showcase-listing">
            <img class="showcase-image" height="175" width="250" src="http://www.wallhd4.com/wp-content/uploads/2016/03/beautiful-city-at-sunset-5.jpeg">
          </div>
          <div class="showcase-listing">
            <img class="showcase-image" height="175" width="250" src="http://centered.org/wp-content/uploads/2015/06/seattle.jpg">
          </div>
        </div>
      </div>
    </article>
  </body>
</html>
