<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style rel="stylesheet" src="../public/stylesheets/home.css"/>
  <style>
  .main-content {
    width: 50%;
    height: 100%;
    border-color: red;
  }
  </style>
    <title>MakersBnB</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
      var email,pass;
      $("#submit").click(function(){
          email=$("#email").val();
          pass=$("#password").val();
          /*
          * Perform some validation here.
          */
          $.post("http://localhost:3000/login",{email:email,pass:pass},function(data){
              if(data==='done')
              {
                  window.location.href="/admin";
              }
          });
      });
  });
  </script>
  </head>

  <body>
    <div class="row">
      <div class="col-md-8 quarter">
        <h1 class="jumbotron" style="font-size: 4em; text-align: center;">Prepare to be <br>amazed!</h1>
      </div>
      <div class="col-md-8 quarter">
        <a class="btn btn-default btn-lg center-block" href="/listings" role="button" style="display: block; width: 10%;">Listings</a><br>
        <a class="btn btn-default btn-lg center-block" href="/signin" role="button" style="display: block; width: 10%;">Sign in</a><br>
        <a class="btn btn-default btn-lg center-block" href="/signup" role="button" style="display: block; width: 10%;">Sign up</a><br>
      </div>
      <div class="col-md-4">
        Images
      </div>
    </div>
  </body>
</html>
