<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        email=$("#email").val();
        pass=$("#password").val();
        /*
        * Perform some validation here.
        */
        $.post("http://localhost:3000/login",{email:email,pass:pass},function(data){
            if(data==='done')
            {
                window.location.href="/admin";
            }
        });
    });
});
</script>
</head>
  <body>
    <FORM METHOD="LINK" ACTION="/logout">
    <INPUT TYPE="submit" VALUE="Logout">
    </FORM>
    <div class="logo"> <img src="https://s16.postimg.org/7x25s7vyd/logo.png" height="42" width="42"/>
    <div>
      <h1>Please Login</h1>
      <form action="/login" method="post">
          <input placeholder="Email" type="email" name='email'/>
          <input placeholder="Password" name='password'/>
        <input class="submit" type='submit' value='Login'/>
      </form>
    </div>

<h1>Listings</h1>
  <div class="">
    <ul>
      <li>Listing 1
        <div class="title">
          <p>Amazing flat in London</p>
        </div>
        <div class="description">
          <p>Three bedrooms.</p>
        </div>
        <div class="price">
          <p>£50/night</p>
        </div>
        <div class="image">
          <img src="">
        </div>
      </li>
      <li>Listing 2</li>
      <li>Listing 3</li>
    </ul>
  </div> -->

  <h1>Create new acount</h1>
  <form action="/user/create" method="post">
   <input placeholder="UserName" name="username" />
   <input placeholder="Email" name="email" />
   <input placeholder="Firstname" name="firstname" />
   <input placeholder="Lastname" name="lastname" />
   <input placeholder="Password" name="password" />
   <input type="submit" value="Create user" />
  </form>


      <h1> Add a new listing </h1>
       <form action="/new_listing" method="post">
           <input placeholder="Name" name="name" />
           <textarea placeholder="Description" name="description"></textarea>
           <input placeholder="Price per night" type="number" name="price" />
           <input placeholder="Image" name="image" />
         <input type="submit" value="Create listing" />
       </form>


</body>

</html>
