<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
  <link rel="stylesheet" href="/stylesheets/home.css" media="screen" title="no title">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="javascripts/auth.js"></script>
  <% include ./partials/header.ejs %>
  <style>

    body {
    }

    .main {
      margin: 100px;
      width: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .single-listing {
      display: flex;
      margin: 10px;
      padding: 20px;
      height: 175px;
      border-style: solid;
      border-radius: 4px;
      border-color: #c1c1c1;
      border-width: 1px;
    }

    .title {
      height: 60px;
      font-size: 1.5em;
      color: grey
    }

    .image {

    }

    .price {
      height: 60px;
      font-size: 1em;
      color: grey
    }

    .text-content {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      font-size: 1em;
      color: grey
    }

  </style>
</head>

<body>

<article class="main">
  <h1 id="colorful">Browse Listings</h1>
  <% allListings.forEach(function(listing){ %>
    <div class="single-listing">
      <a href="/listings/view/<%= listing.id %>">
      <div class="image">
        <img src=<%= listing.dataValues.image %> height="175" width="250">
      </div>
      </a>
      <div class="text-content">
        <div class="title">
          <h3><%= listing.dataValues.name %></h3>
        </div>
        <div class="price">
          <h3>£<%= listing.dataValues.price %>/night</h3>
        </div>
      </div>
    </div>
  <% }); %>
</article>

</body>

</html>
