<!DOCTYPE html>
<html>
<head>
  <title></title>
  
  <link rel="stylesheet" href="../public/stylesheets/webfontkit-20161103-080108/stylesheet.css" />
</head>
<body>
  <button onclick="/logout">Logout</button>

  <%- body %>

</body>
</html>
