
  <!DOCTYPE html>
  <html>
  <style >
  #textboxid
{
  height:200px;
  font-size:14pt;
}
  </style>
  <body>

  <h2>Send us an e-mail with your booking dates</h2>

  <form action="mailto:misterbl@hotmail.com" method="post" enctype="text/plain">
  <input placeholder="Name"type="text" name="name"><br>
  <input placeholder="E-mail"type="text" name="mail"><br>
  <input id="textboxid" placeholder="Booking"type="text" name="comment" size="50"><br><br>
  <input type="submit" value="Book">
  <input type="reset" value="Reset">
  </form>

  </body>
  </html>
