<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
  <link rel="stylesheet" href="/stylesheets/home.css" media="screen" title="no title">
  <link rel="stylesheet" href="/stylesheets/admin.css" media="screen" title="no title">
  <script src="javascripts/auth.js"></script>
  <% include ./partials/header.ejs %>
</head>
<body>
  <h2 id="colorful">You need to be logged in first</h1><br><br>
  <button style="margin-left: 43%"class="buttons" onclick="window.location.href='/'">Back to home page</button>
</body>
</html>
